/* Color Theme Swatches in Hex */
/* Color Theme Swatches in RGBA */
@font-face {
  font-family: quicksand;
  src: url(../../documents/fonts/quicksand.ttf);
}
@font-face {
  font-family: oxygen;
  src: url(../../documents/fonts/oxygen.ttf);
}
@font-face {
  font-family: oxygenBold;
  src: url(../../documents/fonts/oxygen-bold.ttf);
}
@font-face {
  font-family: oxygenLight;
  src: url(../../documents/fonts/oxygen-light.ttf);
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
}

body {
  font-family: "Helvetica";
  background-color: #E3F0FF;
  margin: 0;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: oxygen;
  padding-bottom: 10px;
}
body h1 {
  font-size: 2.125rem;
}
body h2 {
  font-size: 1.875rem;
}
body h3 {
  font-size: 1.5rem;
}
body h4 {
  font-size: 1.25rem;
}
body h5 {
  font-size: 1rem;
}
body h6 {
  font-size: 0.75rem;
}
body p {
  padding: 10px 0;
  line-height: 20px;
}
body ul:not(.mobileNav) {
  margin-left: 10px;
}
body ul:not(.mobileNav) li {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 2px 0;
}
body ul:not(.mobileNav) li:before {
  display: block;
  content: "";
  top: 50%;
  border-radius: 50%;
  right: 10px;
  width: 5px;
  height: 5px;
  border: 1px solid black;
  position: relative;
}
body .navbar, body .footer {
  background-color: #7188A3;
  padding: 20px;
  font-family: quicksand;
  color: #F0DEBD;
  z-index: 5;
}
body .navbar {
  position: fixed;
  top: 0;
  width: 100%;
}
body .navbar > header {
  margin-right: 50px;
}
body .navbar > header > nav {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
}
body .navbar > header > div.hamburgerMenu {
  display: none;
}
body .navbar > header > div.hamburgerMenu > #mobileNavToggle {
  opacity: 0;
}
body .navbar > header > div.hamburgerMenu > #mobileNavToggle:checked + .mobileNavToggleBtn > span, body .navbar > header > div.hamburgerMenu > #mobileNavToggle:checked + .mobileNavToggleBtn > span::before, body .navbar > header > div.hamburgerMenu > #mobileNavToggle:checked + .mobileNavToggleBtn > span::after {
  background-color: black;
}
body .navbar > header > div.hamburgerMenu > #mobileNavToggle:checked + .mobileNavToggleBtn > span {
  transform: rotate(45deg);
}
body .navbar > header > div.hamburgerMenu > #mobileNavToggle:checked + .mobileNavToggleBtn > span::before {
  top: 0;
  transform: rotate(0deg);
}
body .navbar > header > div.hamburgerMenu > #mobileNavToggle:checked + .mobileNavToggleBtn > span::after {
  top: 0;
  transform: rotate(90deg);
}
body .navbar > header > div.hamburgerMenu > #mobileNavToggle:checked ~ .mobileNav {
  right: 0 !important;
}
body .navbar > header > div.hamburgerMenu .mobileNavToggleBtn {
  position: fixed;
  top: 27px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
body .navbar > header > div.hamburgerMenu .mobileNavToggleBtn > span, body .navbar > header > div.hamburgerMenu .mobileNavToggleBtn > span::before, body .navbar > header > div.hamburgerMenu .mobileNavToggleBtn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #E3F0FF;
  transition-duration: 0.25s;
}
body .navbar > header > div.hamburgerMenu .mobileNavToggleBtn > span::before {
  content: "";
  top: -8px;
}
body .navbar > header > div.hamburgerMenu .mobileNavToggleBtn > span::after {
  content: "";
  top: 8px;
}
body .navbar > header > div.hamburgerMenu .mobileNav {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}
body .navbar > header > div.hamburgerMenu .mobileNav .mobileNavLink {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
body .navbar > header > div.hamburgerMenu .mobileNav .mobileNavLink:hover {
  background-color: #CFD8DC;
}
body .navbar > header div.mobileSlideOutMenu {
  position: absolute;
  background: gray;
  height: 100vh;
  padding: 50px 10px 10px;
  right: 40px;
  width: 30%;
  top: 0;
}
body .navbar > header div.mobileSlideOutMenu nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body .navbar a {
  color: #F0DEBD;
  text-decoration: none;
  font-size: 20px;
}
body .navbar a:visited {
  color: #F0DEBD;
}
body .footer {
  text-align: center;
}
body .body main > div {
  padding: 2rem 10rem;
}
body .body main > div:nth-of-type(odd) {
  background-color: #E3F0FF;
}
body .body main > div:nth-of-type(even) {
  background-color: #BED5EF;
}
body .body main > div#home {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
}
body .body main > div#home .selfPortrait {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .body main > div#home .selfPortrait img {
  background-color: #b6a380;
  width: 80%;
  height: auto;
  border: 5px solid #A38B60;
  padding: 5px;
  border-radius: 10px;
}
body .body main > div#home .homeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .body main > div#home .homeText .openToWorkNotice {
  font-size: 1.5rem;
  font-family: oxygenLight;
  font-style: italic;
}
body .body main > div#skills .skillList {
  padding: 20px 0;
}
body .body main > div#skills .skillList ul {
  -moz-columns: 3;
       columns: 3;
}
body .body main > div#projects ul {
  margin-left: 0;
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}
body .body main > div#projects ul li {
  padding: 10px 0;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
}
body .body main > div#projects ul li a {
  color: #63543a;
}
body .body main > div#projects ul li.companyListItem::before {
  display: none;
}
body .body main > div#projects ul li.companyListItem embed {
  width: 200px;
  height: auto;
}
body .body main > div#projects ul li.companyListItem embed#healthCatalystLogo, body .body main > div#projects ul li.companyListItem embed#zapmotoLogo {
  bottom: 2rem;
  position: relative;
}
body .body main > div#resume a {
  color: #63543a;
}
body .body main > div#contact ul {
  margin-left: 0;
}
body .body main > div#contact ul li {
  padding: 10px 0;
  gap: 1rem;
}
body .body main > div#contact ul li a {
  color: #63543a;
}
body .body main > div#contact ul li.contactListItem::before {
  display: none;
}
body .body main > div#contact ul li.contactListItem embed {
  width: 50px;
  height: auto;
}
body .body .spacer1 {
  background: linear-gradient(#E3F0FF, #BED5EF);
}
body .body .spacer2 {
  background: linear-gradient(#BED5EF, #E3F0FF);
}
body .body .spacer1, body .body .spacer2 {
  width: 100%;
  height: 10px;
  display: block;
}
@media screen and (max-width: 1000px) {
  body .body main > div {
    padding: 2rem 7.5rem;
  }
  body .body main > div#projects ul {
    flex-direction: column;
    gap: 2rem;
  }
  body .body main > div#projects ul li {
    flex-direction: row;
    justify-content: flex-start;
  }
  body .body main > div#projects ul li.companyListItem embed#healthCatalystLogo, body .body main > div#projects ul li.companyListItem embed#zapmotoLogo {
    bottom: 0px;
  }
}
@media screen and (max-width: 750px) {
  body .navbar > header > nav {
    display: none;
  }
  body .navbar > header > div.hamburgerMenu {
    display: block;
  }
  body .body main > div {
    padding: 2rem 5rem;
  }
  body .body main > div#home {
    gap: 2rem;
  }
}/*# sourceMappingURL=styles.css.map */