/* Color Theme Swatches in Hex */
$color-theme-1-hex: #7188A3;
$color-theme-2-hex: #E3F0FF;
$color-theme-3-hex: #BED5EF;
$color-theme-4-hex: #A38B60;
$color-theme-5-hex: #F0DEBD;

/* Color Theme Swatches in RGBA */
$color-theme-1-rgba: rgba(113,136,163, 1);
$color-theme-2-rgba: rgba(227,240,255, 1);
$color-theme-3-rgba: rgba(190,213,239, 1);
$color-theme-4-rgba: rgba(163,139,96, 1);
$color-theme-5-rgba: rgba(240,222,189, 1);

/* Color Theme Swatches in HSLA */
$color-theme-1-hsla: hsla(212, 21, 54, 1);
$color-theme-2-hsla: hsla(212, 100, 94, 1);
$color-theme-3-hsla: hsla(211, 60, 84, 1);
$color-theme-4-hsla: hsla(38, 26, 50, 1);
$color-theme-5-hsla: hsla(38, 62, 84, 1);
