/* Color Theme Swatches in Hex */
$color-theme-1-hex: #7188A3;
$color-theme-2-hex: #E3F0FF;
$color-theme-3-hex: #BED5EF;
$color-theme-4-hex: #A38B60;
$color-theme-5-hex: #F0DEBD;

/* Color Theme Swatches in RGBA */
$color-theme-1-rgba: rgba(113,136,163, 1);
$color-theme-2-rgba: rgba(227,240,255, 1);
$color-theme-3-rgba: rgba(190,213,239, 1);
$color-theme-4-rgba: rgba(163,139,96, 1);
$color-theme-5-rgba: rgba(240,222,189, 1);