@import "colors.scss";
@import "fonts.scss";

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Helvetica";

    h1,h2,h3,h4,h5,h6 {
        font-family: oxygen;
        padding-bottom: 10px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    h5 {
        font-size: 1rem;
    }

    h6 {
        font-size: .75rem;
    }

    p {
        padding: 10px 0;
    }

    ul {
        margin-left: 20px;

        li {
            list-style: circle;
        }
    }

    background-color: $color-theme-2-hex;
    margin: 0;

    .navbar, .footer {
        background-color: $color-theme-1-hex;
        padding: 20px;
        font-family: quicksand;
        color: $color-theme-5-hex;
    }

    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        margin-bottom: 1rem;

        header {
            margin-right: 50px;

            nav {
                display: flex;
                justify-content: flex-end;
                gap: 25px;
            }
        }

        a {
            color: $color-theme-5-hex;
            text-decoration: none;

            &:visited {
                color: $color-theme-5-hex;
            }
        }
    }

    .footer {
        text-align: center;
    }

    .body {
        main {
            > div {
                padding: 2rem 10rem;

                &:nth-of-type(odd) {
                    background-color: $color-theme-2-hex;
                }

                &:nth-of-type(even) {
                    background-color: $color-theme-3-hex;
                }

                &#home {
                    margin-top: 3.5rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 5rem;

                    .selfPortrait {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        img {
                            background-color: lighten($color: $color-theme-4-hex, $amount: 10%);
                            width: 80%;
                            height: auto;
                            border: 5px solid $color-theme-4-hex;
                            padding: 5px;
                            border-radius: 10px;
                        }
                    }

                    .homeText {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .openToWorkNotice {
                            font-size: 1.5rem;
                            font-family: oxygenLight;
                            font-style: italic;
                        }
                    }
                }

                &#about {

                }

                &#skills {
                    
                }

                &#projects {
                    
                }

                &#resume {
                    
                }

                &#contact {
                    
                }
            }
        }

        .spacer1 {
            background: linear-gradient($color-theme-2-hex, $color-theme-3-hex);
        }

        .spacer2 {
            background: linear-gradient($color-theme-3-hex, $color-theme-2-hex);
        }

        .spacer1, .spacer2 {
            width: 100%;
            height: 10px;
            display: block;
        }
    }
}