@import "colors.scss";
@import "fonts.scss";

html {
    scroll-behavior: smooth;
    scroll-padding-top: 40px;
}

body {
    font-family: "Helvetica";

    h1,h2,h3,h4,h5,h6 {
        font-family: oxygen;
        padding-bottom: 10px;
    }

    h1 {
        font-size: 2.125rem;
    }

    h2 {
        font-size: 1.875rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    h5 {
        font-size: 1rem;
    }

    h6 {
        font-size: .75rem;
    }

    p {
        padding: 10px 0;
        line-height: 20px;
    }

    ul {
        margin-left: 10px;

        li {
            list-style: none;
            display: flex;
            align-items: center;
            padding: 2px 0;

            &:before {
                display: block;
                content: "";
                top: 50%;
                border-radius: 50%;
                right: 10px;
                width: 5px;
                height: 5px;
                border: 1px solid black;
                position: relative;
            }
        }
    }

    background-color: $color-theme-2-hex;
    margin: 0;

    .navbar, .footer {
        background-color: $color-theme-1-hex;
        padding: 20px;
        font-family: quicksand;
        color: $color-theme-5-hex;
        z-index: 5;
    }

    .navbar {
        position: fixed;
        top: 0;
        width: 100%;

        > header {
            margin-right: 50px;

            > nav {
                display: flex;
                justify-content: flex-end;
                gap: 25px;
            }

            > div.hamburgerMenu {
                display: flex;
                justify-content: flex-end;

                > .hamburgerIcon {
                    display: none;
                    height: 23px;
                    width: 35px;
                    flex-direction: column;
                    justify-content: space-between;
                    
                    .line {
                        display: block;
                        height: 4px;
                        width: 100%;
                        border-radius: 10px;
                        background: black;
                    }
                }
            }
        }

        a {
            color: $color-theme-5-hex;
            text-decoration: none;
            font-size: 20px;

            &:visited {
                color: $color-theme-5-hex;
            }
        }
    }

    .footer {
        text-align: center;
    }

    .body {
        main {
            > div {
                padding: 2rem 10rem;

                &:nth-of-type(odd) {
                    background-color: $color-theme-2-hex;
                }

                &:nth-of-type(even) {
                    background-color: $color-theme-3-hex;
                }

                &#home {
                    margin-top: 3.5rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 5rem;

                    .selfPortrait {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        img {
                            background-color: lighten($color: $color-theme-4-hex, $amount: 10%);
                            width: 80%;
                            height: auto;
                            border: 5px solid $color-theme-4-hex;
                            padding: 5px;
                            border-radius: 10px;
                        }
                    }

                    .homeText {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .openToWorkNotice {
                            font-size: 1.5rem;
                            font-family: oxygenLight;
                            font-style: italic;
                        }
                    }
                }

                &#about {

                }

                &#skills {
                    .skillList {
                        padding: 20px 0;

                        ul {
                            columns: 3;
                        }
                    }
                }

                &#projects {
                    ul {
                        margin-left: 0;
                        margin-top: 1rem;
                        display: flex;
                        justify-content: space-evenly;

                        li {
                            padding: 10px 0;
                            flex-direction: column;
                            justify-content: flex-end;
                            gap: 2rem;

                            a {
                                color: darken($color-theme-4-hex, 20%);
                            }

                            &.companyListItem {
                                &::before {
                                    display: none;
                                }
        
                                embed {
                                    width: 200px;
                                    height: auto;

                                    &#healthCatalystLogo, &#zapmotoLogo {
                                        bottom: 2rem;
                                        position: relative;
                                    }
                                }
                            }
                        }

                    }
                }

                &#resume {
                    a {
                        color: darken($color-theme-4-hex, 20%);
                    }
                }

                &#contact {
                    ul {
                        margin-left: 0;

                        li {
                            padding: 10px 0;
                            gap: 1rem;

                            a {
                                color: darken($color-theme-4-hex, 20%);
                            }

                            &.contactListItem {
                                &::before {
                                    display: none;
                                }
        
                                embed {
                                    width: 50px;
                                    height: auto;
                                }
                            }
                        }

                    }
                }
            }
        }

        .spacer1 {
            background: linear-gradient($color-theme-2-hex, $color-theme-3-hex);
        }

        .spacer2 {
            background: linear-gradient($color-theme-3-hex, $color-theme-2-hex);
        }

        .spacer1, .spacer2 {
            width: 100%;
            height: 10px;
            display: block;
        }
    }

    @media screen and (max-width: 1000px) {
        .body {
            main {
                > div {
                    padding: 2rem 7.5rem;

                    &#projects {
                        ul {
                            flex-direction: column;
                            gap: 2rem;
                    
                            li {
                                flex-direction: row;
                                justify-content: flex-start;
                    
                                &.companyListItem {
                                    embed {
                                        &#healthCatalystLogo, &#zapmotoLogo {
                                            bottom: 0px;
                                        }
                                    }
                                }
                    
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 750px) {
        .navbar {
            > header {                
                > nav {
                    display: none;
                }

                > div.hamburgerMenu {
                    > .hamburgerIcon {
                        display: flex;
                    }
                }
            }
        }

        .body {
            main {
                > div {
                    padding: 2rem 5rem;

                    &#home {
                        gap: 2rem;
                    }
                }
            }
        }
    }
}
